.count-products {
    position: absolute;
    top: 28px; 
    right: 62px;
    transform: translate(60%, -40%);
    background-color: rgb(108, 117, 125);
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display:flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    
}
.counter-products-num {
    font-size: 10px;
}